/* default Lune SSG stylesheet; uwu.network 2026
 * customized with violet color theme
 */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  background: #fff;
  color: #3c3c43;
  font-family: "Inter", sans-serif;
}

a {
  color: #c4a7ff;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1b1b1f;
    color: #dfdfd6;
  }

  a {
    color: #d4bbff;
  }

  nav {
    border-bottom-color: #c4a7ff !important;
  }
}

body, html {
  margin: 0;
}
nav, main {
  padding: 0 1rem;
}

nav {
  margin-bottom: 1rem;
  border-bottom: 1px solid #c4a7ff;
}

.autosize {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
}

.a-reset {
  color: inherit;
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  height: 2rem;
  padding: 1rem;
}

.header h1 {
  margin: 0;
  line-height: 1;
  color: #c4a7ff;
}

.header img {
  height: 2rem;
}

.footer {
  margin-top: 5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.plugin {
  margin: .5rem 0;
  padding: .5rem;
  border-radius: .5rem;
  background: rgba(196, 167, 255, .15);
  border: 1px solid rgba(196, 167, 255, .25);
}

.plugin-title {
  font-weight: bold;
  font-size: large;
  color: #c4a7ff;
}

.plugin-link {
  cursor: pointer;
  opacity: .6;
  color: #c4a7ff;
}

.plugin p {
  margin: .3rem 0;
}

.icon {
  transform: translateY(2px);
}
